* {
    margin: 0;
    padding: 0;
}
body {
    /* background-color: #f0f0f0; Set your desired background color */
}

.centered-div {
    background-color: #fff;
    /* border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

section {
}

.large-text {
    text-align: center;
    font-size: 50px;
    color: rgb(96, 7, 96);
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 15px 0;
}

footer {
    background-color: #e6e6fa; /* Light purple background color */
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
