body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Set your desired background color */
}

.centered-div {
    width: 65%;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.large-text {
    text-align: center;
    font-size: 50px;
    color: rgb(96, 7, 96);
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 21px 0;
}
